<a href="https://colab.research.google.com/github/yeneua/2022-1/blob/main/7_1_%EA%B3%B5%EB%B6%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np 
url=("https://raw.github.com/pandas-dev/pandas/main/pandas/tests/io/data/csv/tips.csv")
tips = pd.read_csv(url)
tips.head() ## 데이터프레임의 앞에 5개만 보여주는 것

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

첫 5개 레코드 추출

In [ ]:
#첫 5개 레코드 추출
tips[['total_bill','tip','smoker','time']].head(5)

   total_bill   tip smoker    time
0       16.99  2.00     No  Dinner
1       10.34  2.00     No  Dinner
2       21.01  3.50     No  Dinner
3       23.68  3.31     No  Dinner
4       24.59  3.61     No  Dinner

변수추가 <br>
tip을 total_bill로 나눈 tip_rate 변수 추가

In [ ]:
#방법1 - 데이터명.assign(변수명=계산식 및 내용)
# *assign으로 하면 실제 데이터에 저장X. 추가된 데이터 얻으려면 기존 변수에 다시 넣어주기
tips.assign(tip_rate = tips['tip']/tips['total_bill']).head()

,total_bill,tip,sex,smoker,day,time,size,tip_rate1,tip_rate2,tip_rate
0,16.99,2.00,Female,No,Sun,Dinner,2,0.117716,0.117716,0.117716
1,10.34,2.00,Male,No,Sun,Dinner,3,0.193424,0.193424,0.193424
2,21.01,3.50,Male,No,Sun,Dinner,3,0.166587,0.166587,0.166587
3,23.68,3.31,Male,No,Sun,Dinner,2,0.139780,0.139780,0.139780
4,24.59,3.61,Female,No,Sun,Dinner,4,0.146808,0.146808,0.146808

In [ ]:
#방법2 - 데이터명['변수명'] = 계산식 및 내용
tips['tip_rate1'] = tips['tip']/tips['total_bill']

In [ ]:
#방법3 - 데이터명.insert(인덱스위치, '변수명', 계산식 및 내용)
tips.insert(8,'tip_rate2',tips['tip']/tips['total_bill'])

In [ ]:
tips.head()

   total_bill   tip     sex smoker  day    time  size  tip_rate1  tip_rate2
0       16.99  2.00  Female     No  Sun  Dinner     2   0.117716   0.117716
1       10.34  2.00    Male     No  Sun  Dinner     3   0.193424   0.193424
2       21.01  3.50    Male     No  Sun  Dinner     3   0.166587   0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2   0.139780   0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4   0.146808   0.146808

조건걸기 - 시간(time)이 저녁(Dinner)인 레코드

In [ ]:
tips[tips['time']=='Dinner'].head()

   total_bill   tip     sex smoker  day    time  size  tip_rate1  tip_rate2
0       16.99  2.00  Female     No  Sun  Dinner     2   0.117716   0.117716
1       10.34  2.00    Male     No  Sun  Dinner     3   0.193424   0.193424
2       21.01  3.50    Male     No  Sun  Dinner     3   0.166587   0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2   0.139780   0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4   0.146808   0.146808

In [ ]:
is_dinner = tips['time'] == 'Dinner'

In [ ]:
is_dinner

0      True
1      True
2      True
3      True
4      True
       ...
239    True
240    True
241    True
242    True
243    True
Name: time, Length: 244, dtype: bool

In [ ]:
tips['time'] == 'Dinner' #논리형값으로 나온다

0      True
1      True
2      True
3      True
4      True
       ...
239    True
240    True
241    True
242    True
243    True
Name: time, Length: 244, dtype: bool

In [ ]:
is_dinner.value_counts

<bound method IndexOpsMixin.value_counts of 0      True
1      True
2      True
3      True
4      True
       ...
239    True
240    True
241    True
242    True
243    True
Name: time, Length: 244, dtype: bool>

In [ ]:
is_dinner.value_counts()#범주확인

True     176
False     68
Name: time, dtype: int64

In [ ]:
tips['tip']=='Dinner'.value_counts() #그냥 바로 value_counts()하면 에러남. is_dinner처럼 변수에 할당해주고사용

AttributeError: ignored

In [ ]:
tips[is_dinner].head(5) #tips['time'] == 'Dinner' 라고 is_dinner에 할당해주었으니 위에 것과 같은 말임

   total_bill   tip     sex smoker  day    time  size  tip_rate1  tip_rate2
0       16.99  2.00  Female     No  Sun  Dinner     2   0.117716   0.117716
1       10.34  2.00    Male     No  Sun  Dinner     3   0.193424   0.193424
2       21.01  3.50    Male     No  Sun  Dinner     3   0.166587   0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2   0.139780   0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4   0.146808   0.146808

In [ ]:
#열이름
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

조건 여러개 걸기

In [ ]:
# 시간(time)이 저녁(Dinner)이고 팁이 5를 넘는 : AND
tips[(tips['time'] == 'Dinner') & (tips['tip']>5.00)]

     total_bill    tip     sex smoker  day    time  size
23        39.42   7.58    Male     No  Sat  Dinner     4
44        30.40   5.60    Male     No  Sun  Dinner     4
47        32.40   6.00    Male     No  Sun  Dinner     4
52        34.81   5.20  Female     No  Sun  Dinner     4
59        48.27   6.73    Male     No  Sat  Dinner     4
116       29.93   5.07    Male     No  Sun  Dinner     4
155       29.85   5.14  Female     No  Sun  Dinner     5
170       50.81  10.00    Male    Yes  Sat  Dinner     3
172        7.25   5.15    Male    Yes  Sun  Dinner     2
181       23.33   5.65    Male    Yes  Sun  Dinner     2
183       23.17   6.50    Male    Yes  Sun  Dinner     4
211       25.89   5.16    Male    Yes  Sat  Dinner     4
212       48.33   9.00    Male     No  Sat  Dinner     4
214       28.17   6.50  Female    Yes  Sat  Dinner     3
239       29.03   5.92    Male     No  Sat  Dinner     3

In [ ]:
#size가 5이상이거나 total_bill이 45를 넘는 : OR
tips[(tips['size']>=5) | (tips['total_bill']>45)]

     total_bill    tip     sex smoker   day    time  size
59        48.27   6.73    Male     No   Sat  Dinner     4
125       29.80   4.20  Female     No  Thur   Lunch     6
141       34.30   6.70    Male     No  Thur   Lunch     6
142       41.19   5.00    Male     No  Thur   Lunch     5
143       27.05   5.00  Female     No  Thur   Lunch     6
155       29.85   5.14  Female     No   Sun  Dinner     5
156       48.17   5.00    Male     No   Sun  Dinner     6
170       50.81  10.00    Male    Yes   Sat  Dinner     3
182       45.35   3.50    Male    Yes   Sun  Dinner     3
185       20.69   5.00    Male     No   Sun  Dinner     5
187       30.46   2.00    Male    Yes   Sun  Dinner     5
212       48.33   9.00    Male     No   Sat  Dinner     4
216       28.15   3.00    Male    Yes   Sat  Dinner     5

NULL 값 확인하기

In [ ]:
#데이터프레임 생성
frame = pd.DataFrame({'col1':['A','B',np.NaN,'C','D'], 'col2':['F',np.NaN,'G','H','I']})

In [ ]:
frame

  col1 col2
0    A    F
1    B  NaN
2  NaN    G
3    C    H
4    D    I

In [ ]:
#변수를 추출하는 법 두가지
frame['col2']
frame.col2

0      F
1    NaN
2      G
3      H
4      I
Name: col2, dtype: object

In [ ]:
frame[(frame['col2'].isna())] #col2가 null인 것

  col1 col2
1    B  NaN

In [ ]:
frame[frame['col2'].notna()] #col2가 not null인 것

  col1 col2
0    A    F
2  NaN    G
3    C    H
4    D    I

group by<br> count(), size()

In [ ]:
tips.groupby('sex').size() #성별별로 count

sex
Female     87
Male      157
dtype: int64

In [ ]:
tips.groupby('smoker').size() #size()는 sql에서 group by로 count를 한 것과 같다.

smoker
No     151
Yes     93
dtype: int64

In [ ]:
tips.groupby('sex').count() #성별별로

        total_bill  tip  smoker  day  time  size  tip_rate1  tip_rate2
sex
Female          87   87      87   87    87    87         87         87
Male           157  157     157  157   157   157        157        157

In [ ]:
tips.groupby('smoker').count  #smoker별로

        total_bill  tip  sex  day  time  size  tip_rate1  tip_rate2
smoker
No             151  151  151  151   151   151        151        151
Yes             93   93   93   93    93    93         93         93

In [ ]:
tips.groupby('sex')['total_bill'].count() #성별로 grouping한 것에서 total_bill에 대해 count()한 결과

sex
Female     87
Male      157
Name: total_bill, dtype: int64

In [ ]:
#count() applies the function to each column, returning the number of not null records
# count()는 null값을 포함하지 않고 계산, size()는 null값을 포함하여 계산
# => size()는 호출된 객체의 크기 또는 길이 반환

여러함수를 적용하여 groupby 집계
- day별로 tip의 평균과 행의 개수 count
- smoker,day별로 tip의 개수와 평균

In [108]:
#day를 groupby 기준으로 정하고, tip에는 mean() 적용, day에는 size()적용
tips.groupby('day').agg({'tip':np.mean, 'day':np.size})

           tip  day
day
Fri   3.129474   19
Sat   3.290115   87
Sun   3.438816   76
Thur  3.097258   62

In [107]:
tips.groupby('day').agg({'tip':'mean','day':'size'})

           tip  day
day
Fri   3.129474   19
Sat   3.290115   87
Sun   3.438816   76
Thur  3.097258   62

In [ ]:
tips.groupby('day').agg({('tip','mean'),('day','size')}) #numpy를 사용하지 않으면 모든 열에 대하여 함수적용되어나옴 ?? 사실 뭔지 몰겟다

     total_bill           tip          size     tip_rate1     tip_rate2
            tip day       tip day       tip day       tip day       tip day
day
Fri   17.151579  19  2.866316  19  2.105263  19  0.185504  19  0.185504  19
Sat   20.441379  87  3.109885  87  2.517241  87  0.166084  87  0.166084  87
Sun   21.410000  76  3.308289  76  2.842105  76  0.171217  76  0.171217  76
Thur  17.682742  62  2.865000  62  2.451613  62  0.170162  62  0.170162  62

In [ ]:
tips.groupby(['smoker','day']).agg({'tip':[np.size,np.mean]})

             tip
            size      mean
smoker day
No     Fri     4  2.812500
       Sat    45  3.102889
       Sun    57  3.167895
       Thur   45  2.673778
Yes    Fri    15  2.714000
       Sat    42  2.875476
       Sun    19  3.516842
       Thur   17  3.030000

데이터프레임 조인

In [ ]:
df1=pd.DataFrame({'key' : ['A','B','C','D'],'value':np.random.rand(4)})
df2=pd.DataFrame({'key' : ['B','D','D','E'],'value':np.random.rand(4)})

In [ ]:
df1

  key     value
0   A  0.128954
1   B  0.430797
2   C  0.291803
3   D  0.608523

In [ ]:
df2

  key     value
0   B  0.949029
1   D  0.885910
2   D  0.298183
3   E  0.550890

In [ ]:
#merge  - default:innerjoin
pd.merge(df1,df2,on='key')

  key   value_x   value_y
0   B  0.430797  0.949029
1   D  0.608523  0.885910
2   D  0.608523  0.298183

In [ ]:
pd.merge(df1,df2,on='key',how='left')

  key   value_x   value_y
0   A  0.128954       NaN
1   B  0.430797  0.949029
2   C  0.291803       NaN
3   D  0.608523  0.885910
4   D  0.608523  0.298183

In [ ]:
pd.merge(df1,df2,on='key',how='right')

  key   value_x   value_y
0   B  0.430797  0.949029
1   D  0.608523  0.885910
2   D  0.608523  0.298183
3   E       NaN  0.550890

데이터프레임 union

In [ ]:
df3 = pd.DataFrame({'city' : ['Chicago','San Francisco','New York City'],'rank':range(1,4)})
df4 = pd.DataFrame({'city' : ['Chicago','Boston','Los Angeles'],'rank':[1,4,5]})

In [ ]:
df3

            city  rank
0        Chicago     1
1  San Francisco     2
2  New York City     3

In [ ]:
df4

          city  rank
0      Chicago     1
1       Boston     4
2  Los Angeles     5

In [ ]:
pd.concat([df3,df4])

            city  rank
0        Chicago     1
1  San Francisco     2
2  New York City     3
0        Chicago     1
1         Boston     4
2    Los Angeles     5

In [ ]:
pd.concat([df3,df4]).drop_duplicates()

            city  rank
0        Chicago     1
1  San Francisco     2
2  New York City     3
1         Boston     4
2    Los Angeles     5

UPDATE

In [ ]:
tips.head(6)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4

In [ ]:
tips.loc[tips["tip"]<2, "tip"] *= 2 #tip이 2보다 작으면 2배

In [ ]:
tips.head(6)

   total_bill   tip     sex smoker  day    time  size
0       16.99  2.02  Female     No  Sun  Dinner     2
1       10.34  3.32    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4

DELETE

In [113]:
tips=tips.loc[tips['tip'] <= 9]

In [114]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  2.02  Female     No   Sun  Dinner     2
1         10.34  3.32    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  3.50    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[243 rows x 7 columns]

In [116]:
tips[(tips['tip']>9)]

Empty DataFrame
Columns: [total_bill, tip, sex, smoker, day, time, size]
Index: []