<a href="https://colab.research.google.com/github/yeneua/schoolWorks/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D4_pivot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pivot table
import pandas as pd
df = pd.DataFrame([ ['20180901', 'A', 10],
                   ['20180901', 'B', 100],
                   ['20180901','C', 1000],
                   ['20180902', 'A', 20],
                   ['20180902', 'B', 200],
                   ['20180902', 'C', 2000],
                   ['20180903', 'A', 30],
                   ['20180903', 'B', 300],
                   ['20180903', 'C', 3000],
], columns=['date', 'typecode', 'volume'])

In [ ]:
df

       date typecode  volume
0  20180901        A      10
1  20180901        B     100
2  20180901        C    1000
3  20180902        A      20
4  20180902        B     200
5  20180902        C    2000
6  20180903        A      30
7  20180903        B     300
8  20180903        C    3000

In [ ]:
df_pivoted1 = df.pivot(index = 'date', columns = 'typecode', values = 'volume')

In [ ]:
df_pivoted1

typecode   A    B     C
date
20180901  10  100  1000
20180902  20  200  2000
20180903  30  300  3000